{:kotoba.app/id "cloud.itonami.isic-7110", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibgijmyigg5huf2mjb2kzxha22uszq6cd4vigv4lagwdfz37vfrpe", :kotoba.app/embed-url "ipfs://bafkreibgijmyigg5huf2mjb2kzxha22uszq6cd4vigv4lagwdfz37vfrpe", :published {:archive "https://kotobase.net/ipfs/bafkreibgijmyigg5huf2mjb2kzxha22uszq6cd4vigv4lagwdfz37vfrpe", :size 72755, :put-status 201, :get-status 200, :at "2026-08-15T13:41:03.976Z"}}
